.bar {
  background-color: rgb(54, 131, 166);
  position: fixed;
  left: 145px;
  width: 989px;
  height: 44px;
  z-index: 800;
}
.bar .user-avatar img {
	width: 3.4%;
	height: 76%;
	float: right;
	position: relative;
	padding-right: 3%;
	padding-top: 0.5%;
	cursor: pointer;
}
.bar .settings-btn{
	position: inherit;
	width: 35;
	height: 35;
	float: right;
	padding-top: 1%;
	
}
.bar .settings-btn img{
	width: 50%;
	height: 50%;
	padding-top: 8.5%;
	padding-left: 0%;
	opacity: 0.3;
}
.bar .settings-btn:hover img{ 
  opacity: 0.6;
  transition: 0.1s;
}
.menu-items {
	position: absolute;
	width: 100%;
	height: 30%;
	background: white; /*rgb(239,239,239)*/
	z-index: 99999;
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.35);
}
.menu-items li{
	padding-top: 5%;
	padding-left: 15%;
	margin-bottom: 6%;
	font-family: Helvetica;
	list-style: none;
	color: rgb(54, 131, 166);
	
}
.menu-items li a{
	text-decoration: none;
	
}
.menu-items li a:visited{
	color: rgb(54, 131, 166);
	text-decoration: none;
	
}
.menu-items .new-group {
	position: static;
	padding-left: 0px;
	width: 100%;
	height: 20%;
	
}
.spinner-spin2:hover .menu-items {
	display: none; 
	
}
.block-left {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 145px;
  top: 43px;
  width: 309px;
  height: 846px;
  z-index: 7;
}
.block-right {
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 11.6%;
  padding-top: 4.7%;
  width: 52.8%; /*677px*/
  height: 89.4%; /*846px*/
  z-index: 99;
}
.block-right .input-box {
	position: static;
	padding-top: 100%;
	padding-left: 23%;
	
}
.block-right .input-box .sender-avatar {
	float: left;
	margin-right: 2%;
	padding-top: -2%;
	
}
.block-right .input-box .reciver-avatar {
	float: right;
	padding-right: 25.5%;
	
}
.block-right .input-box .input-msg {
  font-family: Helvetica;
  font-size:14px;
  padding:10px 20px 10px 5px;
  display:block;
  width: 250px;
  border:none;
  border-bottom:2px solid #3683a6;
}
.block-right .input-box .input-msg:focus {
	border-color: #5682a3; 
}
.block-left .box-user {
  background-color: rgb(54, 131, 166);
  opacity: 0.902;
  margin-top: 50;
  width: 309px;
  height: 84px;
  z-index: 30;
}
.username a {
	font-family: Helvetica;
	font-size: 20;
}

.search-edit {
  height: 78;
}
.search-edit input[type=text] {
  background-image: url(assets/search-icon.svg);   
  background-repeat: no-repeat;
  background-position: 20px;
  background-color: rgb(239,239,239);  
  background-size: 6%;
  opacity: 0.5;
  outline: none;
  border-radius: 3px;
  background-color: e8e8e8;
  position: fixed;
  padding-left: 60px;
  margin-left: 11px;
  margin-top: 20px;
  width: 287px;
  height: 36px;
  z-index: 30;
  border: 0px;
  box-shadow: 0px ;
  font-family: Helvetica;
  font: Regular;
  font-size: 14;
}
.search-edit input[type=text]:focus{
	background-color: rgb(255,255,255);
	border: 1px solid rgb(231,235,240);
	opacity: 0.7;
}
.contact-box {
  background-color: white; /*rgb(54, 131, 166)*/
  opacity: 0.902;
  position: relative;
  width: 309px;
  height: 84px;
  z-index: 30;
  transition: 0.1s;
  margin-top: 10px;
}
.contact-box:hover {
  background-color: rgb(54, 131, 166);
  transition: 0.1s;
}
.contact-box .avatar {
	padding-left: 2%;
	padding-top: 1%;
	position: fixed;
	float: left;
	margin-right: 25px;
}
.contact-box .name {
	color: rgb(76,76,76);
	padding-top: 6%;
	padding-left: 32%;
	font-family: Helvetica;
	font-size: 100%;
	float: left;
	margin-right: 19%;
}
.contact-box .last-msg {
	opacity: 0.6;
	color: rgb(76,76,76);
	padding-top: 2%;
	padding-left: 32%;
	font-family: Helvetica;
	font-size: 100%;
	float: left;
}
.contact-box .msg-time {
	padding-top: 2%;
	padding-right: 8%;
	font-family: Helvetica;
	font-size: 80%;
	opacity: 0.6;
	float: right;
}
.contact-box:hover .name{
	color: white;
	transition: 0.1s;
}
.contact-box:hover .msg-time{
	color: white;
	transition: 0.1s;
}
.contact-box:hover .last-msg{
	color: white;
	transition: 0.1s;
}
*:focus {
    outline: none;
}
/*BURGER ICON*/
.spinner-master2 * {
    transition:all 0.3s;
	-webkit-transition:all 0.3s;
	box-sizing:border-box;
}

.spinner-master2 {
	position:relative;
	margin-top:3px;
	margin-left: 30px;
	height:40px;
	width:40px;
	float: left;
}

.spinner-master2 input[type=checkbox] {
	display:none;
}
.spinner-master2 label {
	cursor:pointer;
	position:absolute;
	z-index:99;
	height:100%;
	width:100%;
	top:12px;
	left:0;
	}

.spinner-master2 .spinner2 {
	position:absolute;
	height:2px;
	width:21;
	background-color:white;
}

.spinner-master2 .diagonal.part-1 {
position:relative;
float:left;
}
.spinner-master2 .horizontal {
	position:relative;
    float:left;
	margin-top:4px;
}
.spinner-master2 .diagonal.part-2 {
	position:relative;
	float:left;
	margin-top:4px
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {
	opacity: 0;
}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {
	background-color: white;
	transform:rotate(45deg);
	margin-top:8px;
	}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {
	transform:rotate(-45deg);
	margin-top: -8px;
	}

.body-style{
	background-color: rgb(231,235,240);
}
.media-heading {
	color: #dd5638;
	margin-bottom: 10px;
}

.media-body {
	padding-top: 15px;
}